.container {
    margin:0 auto;
    width:50%;
    text-align:center;
    background-color:whitesmoke;
    padding:10px 0px;
}

h1 {
    background-color:black;
    /* width:100%; */
    color:white;
    padding:10px;
}

ul {
    margin:0 auto;
    display:flex;
    list-style: none;
    justify-content: space-between;
}

ul >:nth-child(odd) {
    background-color:gray;
}

ul >:nth-child(even) {
    background-color:lightgray;
}

ul li {
    padding:10px;
    font-size:20px;
}